/* Custom CSS
 * --------------------------------------- */
 @import "compass/css3";

.flower {
	height: 40%;
	width: 40%;
}

.flower img {
	height: 300px;
	position: relative;
	left: 80px;

}

ul.skillset p {
	text-align: right;
	margin: 0 0 0 0;
	position: relative;
	bottom: 0.4em;
	right: 3px;
}


p:: first-letter {
	font-size: small;
}
.skill-desc{
	align-items: center;
	display: inline-flex;
	width: 80vw;
}

.skill-desc h6 {
	padding-left: 0.8rem;
	margin-bottom: -3px;
}
.skill-container {
	width: 90%;
	height: 1.2rem;
	background-color: #ddd;
	float: left;
	box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
	border-radius: 10px;
}

.skills {
	text-align: right; /* Right-align text */
	color: white; /* White text color */
	height: 1.2rem;
	border-radius: 10px;
	font-family: Raleway;
	background-image: -webkit-linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
	background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
	background-image: -moz-linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);

  }
}

/* Skills rating */


.rating-percentage {
	color: white;
}
.tableau {
	width: 85%;

}

.tableau.start {
	-moz-animation:tableau 2s ease-out;
	-webkit-animation:tableau 2s ease-out ;
}

.excel {
	width: 85%;

}

.excel.start {
	-moz-animation:excel 2s ease-out ;
	-webkit-animation:excel 2s ease-out ;
}

.ps {
	width: 80%; 

}
.ps.start {
	-moz-animation:ps 2s ease-out ;
	-webkit-animation:ps 2s ease-out ;
}

.python {
	width: 70%;

}

.python.start {
	-moz-animation:python 2s ease-out ;
	-webkit-animation:python 2s ease-out ;	
}

.r {
	width: 70%;

}

.r.start {
	-moz-animation:r 2s ease-out ;
	-webkit-animation:r 2s ease-out ;
}

.osx {
	width: 70%;

}

.osx.start {
	-moz-animation:osx 2s ease-out ;
	-webkit-animation:osx 2s ease-out ;
}

.web {
	width: 70%;

}

.web.start {
	-moz-animation:web 2s ease-out ;
	-webkit-animation:web 2s ease-out ;	
}

.percentage {
	font-size: small;
}


@-moz-keyframes tableau      { 0%  { width:0px;} 100%{ width:85%;}  }
@-webkit-keyframes tableau      { 0%  { width:0px;} 100%{ width:85%;}  }
@-moz-keyframes excel      { 0%  { width:0px;} 100%{ width:85%;}  }
@-webkit-keyframes excel      { 0%  { width:0px;} 100%{ width:85%;}  }
@-moz-keyframes ps      { 0%  { width:0px;} 100%{ width:80%;}  }
@-webkit-keyframes ps      { 0%  { width:0px;} 100%{ width:80%;}  }
@-moz-keyframes python      { 0%  { width:0px;} 100%{ width:50%;}  }
@-webkit-keyframes python      { 0%  { width:0px;} 100%{ width:50%;}  }
@-moz-keyframes r      { 0%  { width:0px;} 100%{ width:60%;}  }
@-webkit-keyframes r      { 0%  { width:0px;} 100%{ width:60%;}  }
@-moz-keyframes osx      { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes osx      { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes web      { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes web      { 0%  { width:0px;} 100%{ width:70%;}  }


/* top section */
.top_desc {
	height: 87vh;
	width: 100%;
	display: table;
}

.top_desc p{
	font-size: 2em;
	text-transform: uppercase;
	vertical-align: middle;
	display: table-cell;
}
.top_desc p span{
	position: inherit;
	top: 0;
	right: 0;
	background: white;
	width: 100%;
	border-left: .1em solid transparent;
	-webkit-animation: typing 3s steps(16) forwards,
										 cursor 1s infinite;
	animation: typing 3s steps(16) forwards,
						 cursor 1s infinite;
}



/* Animation */
@-webkit-keyframes typing{
	from { width: 100%;}
	to { width: 0;}
}
@-webkit-keyframes cursor{
	50% { border-color: #3c8894;}
}
@keyframes typing{
	from{ width: 100%;}
	to{ width: 0;}
}
@keyframes cursor{
	50% { border-color: #3c8894;}
}



